<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Home'}) %>
<body>
<!-- Header -->
  <%- include('partials/topnavbar') %>
  <!-- list-of-products -->
        <div class="w-100 pt-4 pb-5 flex-shrink-0" id="container-list">
            <div class="container px-4">
                <div class="row gy-6 gx-7 d-flex justify-items-center">                 
                  <div class="col-lg-4 col-md-6 py-3">                    
                    <div class="px-4 align-items-center">
                      <div id="section-tittle">
                        <h5>Más vendidos</h5>
                      </div>                      
                      <div>
                        <% for (let i=0;i<productos.length;i++) { %> <% if (productos[i].category.id == '100') { %>  
                        <div class="text-center my-4">
                          <a href="/products/detail/<%= productos[i].id  %>"><img class="img-fluid" width="160" height="160" src="/img/products/<%= productos[i].image  %>" alt="imagen de producto"></a>
                        </div>
                        <div id="text-name" >
                          <p class="productName"><%= productos[i].name %></p>
                        </div>
                        <div id="price-home">
                          <p class="productPrice">$ <%= productos[i].price %></p>
                          <button type="button" data-product=
                            '{"id": <%= productos[i].id %>, 
                            "name": "<%= productos[i].name %>", 
                            "price": <%= productos[i].price %>}' 
                            class="carrito btn buttoncart agregarboton">Agregar al carrito</button>
                        </div>
                        <% } %> <% } %> 
                      </div>

                      <div class="d-flex justify-content-center"><a href="/products">
                        <br> 

                        <button type="button" class="btn btn-primary" id="btn-standard">Ver más</button></a>
                      </div>                       
                    </div>                        
                  </div>
                  <div class="col-lg-4 col-md-6 py-3">                     
                    <div class="px-4 justify-content-center">
                      <div id="section-tittle">
                        <h5>¡Encuentra tu casa!</h5>
                      </div>
                      <div>
                        <% for (let i=0;i<productos.length;i++) { %> <% if (productos[i].category.id == '101') { %> 
                        <div class="text-center my-4">
                          <a href="/products/detail/<%= productos[i].id  %>"><img class="img-fluid" width="160" height="160" src="/img/products/<%= productos[i].image  %>" alt="imagen de producto"></a>
                        </div> 
                        <div id="text-name" >
                          <p class="productName"><%= productos[i].name %></p>
                        </div>
                        <div id="price-home">
                          <p class="productPrice">$ <%= productos[i].price %></p>
                          <button type="button" data-product=
                            '{"id": <%= productos[i].id %>, 
                            "name": "<%= productos[i].name %>", 
                            "price": <%= productos[i].price %>}' 
                            class="carrito btn buttoncart agregarboton">Agregar al carrito</button>
                        </div>
                        <% } %> <% } %> 
                      </div>
                      <br>
                        <div class="d-flex justify-content-center"><a href="/products">
                          <button type="button" class="btn btn-primary" id="btn-standard">Ver más</button></a>
                        </div>                         
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 py-3">
                    <div class="px-4 justify-content-center">
                      <div id="section-tittle">
                        <h5>Nuevos ingresos</h5>
                      </div>
                      <div>
                        <% for (let i=0;i<productos.length;i++) { %> <% if (productos[i].category.id == '102') { %> 
                        <div class="text-center my-4">
                          <a href="/products/detail/<%= productos[i].id  %>"><img class="img-fluid" width="160" height="160" src="/img/products/<%= productos[i].image  %>" alt="imagen de producto"></a>
                        </div>
                        <div id="text-name" >
                          <p class="productName"><%= productos[i].name %></p>
                        </div>
                        <div id="price-home">
                          <p class="productPrice">$ <%= productos[i].price %></p>
                          <button type="button" data-product=
                            '{"id": <%= productos[i].id %>, 
                            "name": "<%= productos[i].name %>", 
                            "price": <%= productos[i].price %>}' 
                            class="carrito btn buttoncart agregarboton">Agregar al carrito</button>

                        </div>
                        <% } %> <% } %> 
                      </div>
                      <br>
                        <div class="d-flex justify-content-center"><a href="/products">
                          <button type="button" class="btn btn-primary" id="btn-standard">Ver más</button></a>
                        </div> 
                    </div>
                  </div>                  
                </div>
            </div>
        </div>
        <!-- FOOTER -->
        <%- include('partials/footer.ejs') %>
        <script src = "/js/carrito.js" > </script>
</body>
</html>
