<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('../partials/head.ejs', {title: 'Perfil de: ' + detallePerfil.name }) %>
<body>
	<!-- Header -->
	<%- include('../partials/topNavbar') %>
	<!-- /Header -->

	<!-- user detail -->
	<div class="container products-wrapper">
		<div class="product-detail">
			<div class="row my-4">
				<div class="user-img-container row col-lg-4 align-items-center text-center">
					<img src="/img/users/<%=detallePerfil.image_user %>" alt="user-image" class="img-fluid">
				</div>
				
				<div class="col-12 col-lg-8">
					<article class="product-detail-info">
						<div class="product-detail-title">Mi perfil</div>
						<ul class="text-left gap-1">
							<li><strong>Nombre:</strong>  <%=detallePerfil.name %> </li>
							<li><strong>Apellido:</strong>  <%=detallePerfil.last_name %></li>
							<li><strong>Username:</strong>  <%=detallePerfil.user_name %> </li>
							<li><strong>Email:</strong>  <%=detallePerfil.email %></li>
							<li><strong>Fecha de nacimiento:</strong>  <%=detallePerfil.birth_date %></li>
						</ul>	
						<div class="divbuttons">
							<a href="/users/editProfile" class="action-button edit">EDITAR PERFIL</a>
							<form action="/users/profile?_method=DELETE" method="POST" style="display: inline-flex" onsubmit="return confirm('Esta seguro que desea eliminarlo?');">
								<button type="submit" class="action-button delete">DAR DE BAJA</button>
							</form>
						</div>
					</article>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
</body>	
</html>
