<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro Weasleys' Wizard Wheezes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/styleregister.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src = "../js/validacionesJSfront.js" > </script>
  
</head>
<body class="container">

 <section class="row container_section">
    <div class="contenedor-img">
        <img src='/img/Registro2.jpg' alt='la imagen no esta' class="imgIzquierda img-fluid" > 
    </div>   
    <div class="col-6 fz15 center" style="font-family:verdana" >

      <div class="errores">
        <ul> 

        </ul> 
    
      </div>  
        <form action="/users/register" method="POST" enctype="multipart/form-data" >
            <div class="pt-4"> 
                <p class="col-6 crearcuenta1"> Crear cuenta </p>
            </div>
            <div class="col-10 registerform">
                <div class="mb-2">
                    <label for="name" class="form-label">Nombre</label>
                    <input 
                        type="text" 
                        id="name" 
                        name="name"  
                        class="form-control <%= locals.errors && errors.name ? 'is-invalid' : null %> nombre"  
                        placeholder="Nombre/s"
                        value = "<%=   locals.oldData ? oldData.name : null %>">
                   
                    <% if (locals.errors && errors.name) { %>
                        <div class="text-danger">
                         <%= errors.name.msg %>
                        </div>
  
                      <%  }  %>  
  
     

                </div>
                <div class="mb-2">
                    <label for="last_name" class="form-label">Apellido</label>
                    <input 
                       type="text" 
                       id="last_name" 
                       name="last_name"   
                       class="form-control <%= locals.errors && errors.last_name ? 'is-invalid' : null %> apellido"
                       placeholder="Apellido/s"
                       value = "<%=   locals.oldData ? oldData.last_name : null %>">
                    
                    <% if (locals.errors && errors.last_name) { %>
                        <div class="text-danger">
                         <%= errors.last_name.msg %>
                        </div>
  
                      <%  }  %>  
  


                </div>
                <div class="mb-2">
                    <label for="user_name" class="form-label">Username</label>
                    <input 
                      type="text"  
                      id="user_name" 
                      name="user_name" 
                      class="form-control <%= locals.errors && errors.user_name ? 'is-invalid' : null %> usuario"  
                      placeholder="nickname"
                      value = "<%=   locals.oldData ? oldData.user_name : null %>">

                    <% if (locals.errors && errors.user_name) { %>
                        <div class="text-danger">
                         <%= errors.user_name.msg %>
                        </div>
  
                      <%  }  %>  
  


                </div>
                <div class="mb-2">
                    <label for="email" class="form-label">Correo Electronico</label>
                    <input 
                       type="email"  
                       id="email" 
                       name="email" 
                       class="form-control <%= locals.errors && errors.email ? 'is-invalid' : null %> correo" 
                       placeholder="name@example.com"
                       value = "<%=   locals.oldData ? oldData.email : null %>">
               
                    <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                         <%= errors.email.msg %>
                        </div>
  
                      <%  }  %>  
  
              

                </div>
                <div class="mb-2">
                    <label for="password" class="form-label">Contraseña</label>
                    <input 
                       type="password" 
                       id="password" 
                       name="clave" 
                       class="form-control <%= locals.errors && errors.clave ? 'is-invalid' : null %> clave"
                       placeholder="Password"
                       value = "<%=   locals.oldData ? oldData.clave : null %>">
                
                    <% if (locals.errors && errors.clave) { %>
                        <div class="text-danger">
                         <%= errors.clave.msg %>
                        </div>
  
                      <%  }  %>  
  
 

                </div>
                <div class="mb-2">
                    <label for="password" class="form-label">Confirmar Contraseña</label>
                    <input 
                       type="password" 
                       id="password" 
                       name="confirmpassword" 
                       class="form-control <%= locals.errors && errors.confirmpassword ? 'is-invalid' : null %>"  
                       placeholder="Password"
                       value = "<%=   locals.oldData ? oldData.confirmpassword : null %>">

                      <% if (locals.errors && errors.confirmpassword) { %>
                        <div class="text-danger">
                         <%= errors.confirmpassword.msg %>
                        </div>
  
                      <%  }  %>  


                </div>  
            </div>
            <div class="col-8 mt15">
                <div>
                    <button type="submit" class="btn btn-success color-boton-verde " >Crear Cuenta</button>
                </div>
                <p class="my-2 text-center"> ó </p>
                <div>
                    <button type="button" class="btn btn-outline-light btn-social-media ">
                        <img src="/img/logogoogle.png" alt="company-logo">
                        <span class="text-dark">Registrarse con Google</span>
                    </button>
                </div>
                <span>
                    <p  class="mt-2 text-center">¿Ya tienes cuenta? <a href="./login">Ingresar</a>, ó ir al <a href="/">Home</a><p>
                </span>
            </div>
        </form>
    </div>
 </section>
</body>
</html>